body{
    background-color: #31948B;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.container{
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1fr ;/* Here i can change column number */
    grid-template-rows: 50px 2fr 70px ;
    gap: 5px;
    padding: 45px;
    box-sizing: border-box;
}
.container div{
    padding: 10px;
    border: 1px solid #000000;
}
.header{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 30px;
    text-align: center;
    padding-bottom: auto;
    background-color: #947D1E;
}

.img{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-left: 50px;
    overflow: hidden;
    border-radius: 60%;
    text-align: center;
}
.img img{
    width: 100%;
    height: auto;
}
.container-large-left{
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 1;
    font-size: 0.8em;
    background-color: #38E0D2;
}
.container-large-left b{
    text-align: center;
}

.container-large-right{
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
    background-color: rgb(99, 161, 187);
}
.container-bottom{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: span 1;
    text-align: center;
    font-size: 0.7em;
    margin-top: auto;
    background-color: #E0BC22;
}